<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style --home.css">
</head>
<body>
    <header>


        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">

                </div>
            </div>
            <a href="/" style="text-decoration: none; color: white;">Home</a>

            <div class="navsearch">
                <input type="text" placeholder="Search" name="search" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>

                </div>
            </div>
            <div class="navadd">
            
            <a href="/login">Login</a>
            <a href="/login">Sign Up</a>

            <!-- <button>Sign Up</button>
           
            <button>Sign in</button> -->
            </div>


        </div>



        


        <!-- <nav>
            <img src="b1.jpg ">
            <h1>Book Exchange</h1>
            
        </nav> -->
    </header>
    <main>
        <!-- <h1>Welcome Message 00</h1> -->
        
        <!-- <div class="filter">
            <label for="category">Filter by:</label>
            <select id="category">
                <option value="all">All</option>
                <option value="author">Author</option>
                <option value="business">Business</option>
                <option value="comics">Comics</option>
                <option value="publication">Publication</option>
                <option value="fiction">Fiction</option>
                <option value="non-fiction">Non-Fiction</option>
            </select>
        </div> -->
        
        <div class="book-list">
            <article id="cards">
                <img src="a.jpg">
                <div class="text">
                    <h3>Price ₹100</h3>
                    <button>Buy</button>
                    <button><a href="<%= locals.url %>"></a>read more..</button>
                </div>
            </article>
        </div>

        <div class="section">

            <div class="container">
                <div class="content-section">
    
                    <div class="title">
                        <h1>About Us</h1>
                        
                    </div>
                    <div class="content">
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus tempore .</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat architecto quidem facere porro inventore qui omnis corrupti ab dolorum dolores itaque doloribus nisi perferendis eos aliquam, magnam culpa asperiores ut?Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rerum, ullam repudiandae est unde fuga expedita? Sed nisi quaerat praesentium, omnis aliquid quo libero numquam architecto vero doloremque consequuntur distinctio!
                        </p>
                        <div class="button">
                            <a href="">Read More</a>
                        </div>
                    </div>
                   
                </div>
                <div class="image-section">
                    <img src="a.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Footer 00</p>
    </footer>
    <script src="home.js"></script>
</body>
<script src="../INDEX.js"></script>
</html>