<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style --index.css">
    <title>Modern Login Page</title>
</head>

<body>
    <!--  -->
        <div id="blur">
            <div class="container" id="container">
    
                <div class="form-container sign-up">
                    <form action="/signup" method="post" enctype="multipart/form-data">
                        <h1>Create Account</h1>
                        <!-- <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div> -->
                        <!-- <span>or use your email for registeration</span> -->
                        <input type="text" name="name" placeholder="Name">
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="number" name="ph_num" placeholder="Phone Number">
                        <input type="text" name="address" placeholder="Address (Mumbai)">
                        <!-- <label for="question">Enter a question:</label> -->
                        <input type="text" id="question" name="question" placeholder="Enter Question" required>
    
                        <!-- <label for="answer">Enter your answer:</label> -->
                        <input type="text" name="answer" placeholder="Enter Answer" required>
                        <input type="file" id="imageUpload" name="img" accept=".jpeg">
                        <!-- <a href="#" onclick="toggle()">Display Q&A for SignIn backup</a> -->
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="form-container sign-in">
                    <form action="/login" method="post">
                        <h1>Sign In</h1>
                        <h6 style="color: red;"><%= locals.message %></h6>
                        <!-- <div class="social-icons">
                            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div> -->
                        <span>or use your email password</span>
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="password" placeholder="Password">
                        <a href="#" onclick="toggleforget()">Forget Your Password?</a>
                        <button type="submit">Sign In</button>
                    </form>
                </div>
                <div class="toggle-container">
                    <div class="toggle">
                        <div class="toggle-panel toggle-left">
                            <h1>Welcome Back!</h1>
                            <p>Enter your personal details to use all of site features</p>
                            <button class="hidden" id="login">Sign In</button>
                        </div>
                        <div class="toggle-panel toggle-right">
                            <h1>Welcome, Friend!</h1>
                            <p>Enter your personal details to use all of site features</p>
                            <button class="hidden" id="register">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
    
        <!-- <div class="card" id="popup">
            <h1>QR Cards</h1>
            <form>
                <button class="btn_close" onclick="toggle()">&times;</button>
    
                <label for="question">Enter a question:</label>
                <input type="text" id="question" name="question" required>
    
    
                <label for="answer">Enter your answer:</label>
                <input type="text" id="answer" name="answer" required>
    
                <div class="card1">
    
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div> -->
        <div class="card" id="popup1">
            <form>
                <button class="btn_close" onclick="toggleforget()">&times;</button>
    
    
                <h4 id="question"><%= locals.question %></h4><br>
    
                <label for="answer">Enter your answer:</label>
                <input type="text" id="answer" name="answer" required>
    
                <div class="card1">
    
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    
        <script src="script.js"></script>
    </body>
    <script>
        function toggle() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('active')
        
        var popup = document.getElementById('popup');
        popup.classList.toggle('active')
    }
    function toggleforget() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('active')
        
        var popup1 = document.getElementById('popup1');
        popup1.classList.toggle('active')
    }
    q=document.getElementById("question")
    q.innerText='<%=locals.question %>'
    </script>
    
    </html>