<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>

    <form action="/" method="post" enctype="multipart/form-data">
        <label for="imageUpload">Upload Image:</label>
        <input type="file" id="imageUpload" name="image" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Upload">
    </form>

</body>
</html>
